<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template.html">
<head>
<meta charset="windows-1256">
<title>index</title>
<style>
.film{
    background-image: url('../images/films.jpg');
    width: 100%;
    height: auto;
    background-size: contain;
}
.cinema{
    background-image: url('../images/cinema.jpg');
    width: 100%;
    height: 100%;
    background-size: contain;
}
</style>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container m-5">
			<div class="text-center container-fluid p-3 m-5 cinema border">
				<a th:href="@{villesgest(keyword=${keyword})}" type="button" class=" m-5 btn btn-outline-light btn-lg">Cinemas</a>
			</div>

			<div class="text-center container p-3 m-5 film text-white">
				<a th:href="@{filmsgest(keyword=${keyword})}" type="button" class=" m-5 btn btn-light btn-lg">Movies</a>
			</div>
		</div>

	</div>
</body>
</html>